.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    flex-wrap: wrap;
}

.allButtons button {
    background-color: Teal;
    border-radius: 4.9em;
    border: 0px solid rgba(232,102,59,0);
    color: whitesmoke;
    font-weight: 900;
    font-style: normal;
    letter-spacing: .03em;
    line-height: 1.3em;
    text-transform: uppercase;
    width: 130px;
    height: 40px;
    box-shadow: 0 0 10px #282c34;
}

.allButtons button:hover {
    opacity: 0.7;
}

@media (max-width: 425px) {
    .container {
        justify-content: center;
    }
}



