.work {
    width: 500px;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.workImg {
    width: 100%;
    height: 400px;
    background-image:url("images/Grid-14-old-cunts.jpg");
    background-size: cover;
    background-position: center;
}

.workImg {
display: flex;
    justify-content: center;
    align-items: center;
}

.workImg button:hover {
    opacity: 0.9;
}

.description {
    padding: 20px;
}