.footerBlock {
    background: cadetblue;
}

.footerContainer {
    flex-direction: column;
}

.footerItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 250px;
    background: burlywood;
}

.footerItem {
    height: 100%;
    width: 50px;
    background: paleturquoise;
}

.title {
    background: #e3f7f2;
}